* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,
body {
  min-height: 100vh;
}

.serif {
  font-family: "Cormorant Garamond";
}

.sans_serif {
  font-family: "Raleway";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond";
}

p,
span,
li,
a {
  font-family: "Raleway";
}

.marquee-container {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.marquee {
  display: inline-block;
  width: fit-content;
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logo_effect {
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #fff, 0 -2px #000, 0px 2px #000,
    -1px 0px #000, 1px -1px #000, -1px 1px #fff;
}
