* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,
body {
  min-height: 100vh;
}

.serif {
  font-family: "Cormorant Garamond";
}

.sans_serif {
  font-family: "Raleway";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond";
}

p,
span,
li,
a {
  font-family: "Raleway";
}
